* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clerfix::after {
    content: "";
    display: table;
    clear:both;
}

html{
    font: serif;
    font-size: 14px;
    color: white;
}
body{
    background-color: black;
}

header{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.button_speak{
    display: flex;
    background-color: grey;
    padding: 1px 3px;
    border-radius: 6px;
}

.maximize{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 2px;
    margin-left: 5px;
}

svg{
    width: 12px;
    margin: 2px;
}

main{
    width: 80vw;
    display: flex;
    margin: 55px auto;
    flex-wrap: wrap;
}

.box_img{
    display: flex;
    flex-basis: 13%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    position: relative;
}

img{
    width: 100%;
}

.footer-main{
    height: 6rem;
    background-color: rgb(60, 61, 61);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-left,
.col-center{
    display: flex;
	align-items: stretch;
}

.col-right{
    width: 10rem;
    height: 100%;
    text-align: center;
    line-height: 6em;
    background-color: grey;
    
}

nav .list{
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    list-style: none;
}

.icon{
    position: relative;
    width: 5vw;
    display: flex;
	flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.fa-icon{
    font-size: 2rem;
    order: 1;
}

.fa-chevron-right{
    position: absolute;
    top: 40%;
    right: -10px;
}

.icon span{
    order: 3;
}

